body {
  background-color: #e6eff8;
}

h1 {
  font-size: 60px;
  color: #0595f8;
  margin-bottom: 5px;

}

table {
  font-size: 25px;
  border-color: lightblue;
  border-spacing: 8px;
}

tr:nth-child(even) {
  background-color: #d3eef9;
}

tr:nth-child(odd) {
  background-color: #91d8f7;
}
button{
  height: 40px;
  weight:40px;
  font-size: 30px;
  background-color: #0595f8 ;
  font-family: sans-serif;
  color: #e6eff8;

}
.btn1{
  float: left;
  }
.btn2{
  float:right;
}


