*{
  margin:0;
}

body{
  background-color:	#87CEFA;
}

.help_main{
  display: flex;
  flex-direction: column;
}

.search_bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sb_ask{
  background-color: #191970;
  padding: 10px 40px;
  margin: 20px;
  font-size: 36px;
  color: white;
  border: none;
  border-radius: 100px;
}

.sb_search{
  display: flex;
  flex-direction: row;
  background-color:	#AFEEEE;
  border: none;
  border-radius: 50px;
  margin: 20px;
  padding: 5px 10px;
  color:black;
}

.imgs{
  color: gray;
  padding: 0px 10px;
}

.input_1{
  background-color:#AFEEEE;
  font-size: 18px;
  border: none;
  width: 400px;
  height:25px;
  border-radius: 50px;
}

.links_header{
  display: flex;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.links_header h3{
  padding: 10px 10px;
  background-color:	#00008B;
  color:white;
  font-size: 32px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  padding-bottom: 10px;
  padding-right: 200px;
}

.link_options{
  background-color:	#4169E1;
  border: none;
  border-radius: 100px;
}

.link_options h4{
  padding: 20px 80px;
}

.linkpages{
  text-decoration: none;
  color:white;
  font-size: 24px;
}

.Questions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 70px;
  padding-bottom: 20px;
  padding-right: 70px;
}

.Q_Q{
  background-color:	#191970;
  padding: 10px 10px;
  font-size: 28px;
  color: white;
}

.Q_A{
  background-color:#B0E0E6;
  color: gray;
  padding-top: 10px;
  font-size: 20px;
}

.Q_A h5{
  padding: 10px 10px;
}

.a_link{
  text-decoration: none;
  color: white;
}
